<!--Older Version-->
<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Header -->

<head>
    <title>Home Page</title>
    <link rel="icon" type="image/png" href="/img/favicon.png"/>
    <th:block th:include="fragments/styles :: styles"></th:block>
    <link rel="stylesheet" href="/css/home-search-box.css"/>
    <script src="/js/menu.js"></script>
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>

    <!-- Notification OneSignal -->
    <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(function () {
            OneSignal.init({
                appId: "450f43d5-fe0f-4879-8110-074b3cd558d6",
            });
        });
    </script>

    <!-- Style -->
    <style>
        .ui.attached.segment {
            border: 1px solid #b7c5cd;
        }
    </style>
</head>

<!-- Body Content -->

<body data-gr-c-s-loaded="true" class="pushable">

<!-- Fixed Menu -->
<div id="fixed-menu" class="ui large top fixed menu transition hidden">
    <!-- replace fixed menu -->
    <div th:replace="fragments/menu :: fixed-menu"></div>
</div>


<!-- Sidebar -->
<div th:replace="fragments/sidebar :: sidebar"></div>

<!-- Content -->
<div class="pusher">
    <!-- Start Content -->
    <!-- Mast Head -->
    <div class="ui inverted vertical masthead center aligned segment" style="min-height: 0px!important;">
        <div class="ui container ">
            <a class="item " href="/">
                <img src="/img/KA-logo.png " alt="khmeracademy.org " class="brand-logo ">
            </a>

            <div class="ui large secondary inverted pointing menu ">
                <a class="toc item ">
                    <i class="sidebar icon "></i>
                </a>

                <!-- Menu Category -->
                <a th:class="${#locale.language}=='en' ? 'item font-english':'item font-khmer'"
                   th:each="categorylevelone : ${categorieslevel1}"
                   th:object="${categorylevelone}" th:text="${#locale.language}=='en' ? *{enName} : *{khName}"
                   th:href="@{/elearning/course/{id}(id=*{encriptId})}">
                </a>


                <!-- User Account -->
                <div id="right1" class="right item data" style="margin-left: 40px !important;">
                    <div class="ui inline dropdown ">
                        <div sec:authorize="isAnonymous()">
                            <img class="ui avatar image " src="/img/user.png">
                            <!--<span class="txt">Account</span>-->
                        </div>

                        <div sec:authorize="">

                        </div>

                        <div sec:authorize="isAuthenticated()">
                            <img class="ui avatar image " th:src="${#authentication.principal.userimageurl}">
                        </div>

                        <div class="menu ">
                            <div class="item" style="display: block;" sec:authorize="isAnonymous()">
                                <a th:href="@{/login}" style="color: black !important;">Register/Login</a>
                            </div>
                            <div>
                                <div class="item "
                                     style="display: block; color: black;padding-bottom:0px !important; background-color:#4e9c50;padding-top: 0px !important;"
                                     sec:authorize="isAuthenticated()">
                                    <span th:text="${#authentication.principal.name}" style="color:white;"></span>
                                </div>
                            </div>
                            <a class="item " style="display: block;" sec:authorize="isAuthenticated()"
                               th:href="@{/logout}">
                                <span>Logout</span>
                            </a>
                            <a class="item " style="display: block;" sec:authorize="isAuthenticated()"
                               th:href="@{/profile}">
                                Account Setting
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Switch Languages -->
                <div id="right3" class="right item data" style="margin-left: -12px !important; ">
                    <div class="ui floating dropdown">
                        <div class="text">
                            <img class="ui avatar image " th:if="${#locale.language=='km'}" src="/img/km.png ">
                            <img class="ui avatar image " th:if="${#locale.language=='en'}" src="/img/en.png ">
                        </div>
                        <div class="menu" style="width: 50px !important;">
                            <a class="item" href="?language=km" style="display: block; padding: 10px 10px !important;">
                                <img class="ui avatar image lang-km" src="/img/km.png "
                                     style="margin-left: 5px !important;margin-right: 5px !important;">
                            </a>
                            <a class="item " href="?language=en" style="display: block; padding: 10px 10px !important;">
                                <img class="ui avatar image lang-en" src="/img/en.png "
                                     style="margin-left: 5px !important;margin-right: 5px !important;">
                            </a>
                        </div>
                    </div>
                </div>

                <!-- search  -->
                <form action="/search">
                <div class="right item data">
                    <div class="search-container">
                        <input class="search" type="text" placeholder="Search" name="keyword" id="search">
                    </div>
                </div>
                </form>
            </div>
        </div>

        <!-- Center title and search -->
        <div class="ui text container " style="margin-top: 50px;">
            <p class="ui inverted header bold">
                The First e-learning platform in Cambodia
            </p>
        </div>

        <div class="ui statistics col-xl-12" th:each="st : ${statistic}" style="margin: auto;
           margin-top: 45px;
           margin-bottom: 0px;">
            <div class="statistic" style="margin: auto;">
                <div class="value">
                    <i class="icon ui circular inline video" style="font-size: 0.5em; color:white;"></i>
                    <span th:text="${st.videos}" style="font-size: 0.5em; color:white;"></span>
                </div>
                <div class="label" style="color:white;">
                    Users
                </div>
            </div>
            <div class="statistic" style="margin: auto;">
                <div class="value">
                    <i class="icon ui circular inline user" style="font-size: 0.5em;color:white;"></i>
                    <span th:text="${st.users}" style="font-size: 0.5em;color:white;"></span>
                </div>
                <div class="label" style="color:white;">
                    Videos
                </div>
            </div>
            <div class="statistic" style="margin: auto;">
                <div class="value">
                    <i class="icon ui circular inline play" style="font-size: 0.5em;color:white;"></i>
                    <span th:text="${st.playlists}" style="font-size: 0.5em;color:white;"></span>
                </div>
                <div class="label" style="color:white;">
                    Playlists
                </div>
            </div>
        </div>
    </div>

    <!-- Home Details -->
    <div class="ui vertical stripe segment body-information">
        <div class="ui middle aligned stackable grid container">
            <div class="p-t-10 p-b-50">
                <div class="container container-bt">
                    <!-- High School -->
                    <div class="section-one"></div>
                </div>

                <div class="section-two"></div>

                <!-- Presentation block -->
                <div class="section-three"></div>
                <!--end condition for home-->

                <!--</div>-->

            </div>

        </div>
    </div>
    <!--End Home Detail-->
</div>
<div>
    <i class="icon arrow alternate circle up btn-move-up"></i>
</div>
<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

<th:block th:include="fragments/script :: script"></th:block>
<!-- One signal -->
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>

<script>
    var loading = '<center><img src="https://i.pinimg.com/originals/79/ac/a6/79aca63a5804b49931fb56b931e32a9b.gif" style="margin: auto;text-align: center;"/></center>';

    var OneSignal = window.OneSignal || [];
    OneSignal.push(function () {
        OneSignal.init({
            appId: "0695e244-f6d8-44f7-a621-e955619b51c3",
        });
    });


    $(document).ready(function () {

        sectionOne();

        sectionTwo();

        sectionThree();

        function sectionOne() {
            $('.section-two').append(loading);
            $.ajax({
                url: "/section-one",
                type: "GET",
                success: function (data) {
                    $(".section-one").empty();
                    $(".section-one").append(data)
                },
                error: function (err) {
                    alert("1 Error")
                    console.log(err)
                }
            });
        }


        function sectionTwo() {
            $('.section-two').append(loading);
            $.ajax({
                url: "/section-two",
                type: "GET",
                success: function (data) {
                    $(".section-two").empty();
                    $(".section-two").append(data);


                    onClickTab();
                },
                error: function (err) {
                    alert("Error 2")
                }
            });
        }

        function sectionThree() {
            $('.section-three').append(loading);
            $.ajax({
                url: "/section-three",
                type: "GET",
                success: function (data) {
                    $(".section-three").empty();
                    $(".section-three").append(data)
                    onClickTab();
                },
                error: function (err) {
                    alert("Error 3")
                }
            });
        }


        function onClickTab() {
            $(".menu .item").tab();
            // $('.tab-each').on('click', 'a', function (e) {
            //     $(this).siblings().removeClass("active");
            //     $(this).addClass("item font-content active");
            // })
        }


    })

</script>

</body>

</html>

<!--End Version→