<head xmlns:th="http://www.thymeleaf.org"
        th:fragment="head-properties">
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- Site Properties -->
    <title>Khmer Academy</title>

    <!-- All intergrated CDN -->
    <!-- Semantic UI @2.3.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.2/dist/semantic.min.css"/>
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Hanuman|Lato|Preahvihear" rel="stylesheet"/>
    <!--<link href="https://fonts.googleapis.com/css?family=Hanuman" rel="stylesheet">-->
    <!-- Bootstrap @4.1.0 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"/>
    <!-- Ajax Jquery @2.1.3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Ajax Jquery @3.3.1 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS @1.14.0 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <!-- Bootstrap Script -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- Jquery Script -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <!-- Semantic Script -->
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.2/dist/semantic.min.js"></script>
    <!-- CSS Libraries -->
    <!-- Default template of playlist -->
    <link rel="stylesheet" type="text/css" href="/css/default-util.css"/>
    <!-- video sytle css -->
    <link rel="stylesheet" type="text/css" href="/css/video-style.css"/>
    <!-- KA style -->
    <link rel="stylesheet" type="text/css" href="/css/navigation.css"/>
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
    <link rel="stylesheet" type="text/css" href="/css/default.css"/>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <!--<link rel="stylesheet" href="/css/user.css"/>-->
    <!-- Javascript Libraries -->
    <script src="/js/video-js.js"></script>
    <script src="/js/default.js"></script>
    <script src="/js/fixed-bar.js"></script>
</head>