<div xmlns:th="http://www.thymeleaf.org" th:fragment="script">
        <!-- Ajax Jquery @2.1.3 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <!--&lt;!&ndash; Ajax Jquery @3.3.1 &ndash;&gt;-->
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
        <!-- Popper JS @1.14.0 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <!-- Bootstrap Script -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <!-- Jquery Script -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
        <!-- Semantic Script -->
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.2/dist/semantic.min.js"></script>

        <!--<link rel="stylesheet" href="/css/user.css"/>-->
        <!-- Javascript Libraries -->
        <script src="/js/video-js.js" type="text/javascript"></script>
        <script src="/js/default.js" type="text/javascript"></script>
        <script src="/js/fixed-bar.js" type="text/javascript"></script>

        <script src="/js/playlist_pagination.js" type="text/javascript"></script>
        <!--<script src="/js/dropdown.js" type="text/javascript"></script>-->

        <script src="/js/playlist_pagination.js" type="text/javascript"></script>

        <!--<script th:replace="index :: _script"></script>-->

        <script src="/js/classie.js"></script>
        <script src="/js/uisearch.js"></script>
        <script src="/js/suggestion.js"></script>

        <script>
            new UISearch( document.getElementById( 'sb-search' ) );
        </script>
</div>