<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu sidebar left"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        th:fragment="sidebar">
    <div class="item sidebar-container">
        <div class="segment centered">
            <img src=""  class="ui centered tiny circular image">
            <h3 class="ui header dividing centered sidebar-profile">Chan Chhaya</h3>

                <a th:href="@{/login}">
                    <button type="submit" class="tiny centered ui button login cl-white" sec:authorize="isAnonymous()" th:text="#{register}">
                        Login
                    </button>
                </a>

                <a th:href="@{/logout}">
                    <button class="tiny centered ui button logout cl-white" sec:authorize="isAuthenticated()" >
                        Logout
                    </button>
                </a>

                <a th:href="@{/profile}">
                    <button class="tiny centered ui button setting cl-white" sec:authorize="isAuthenticated()">
                        Setting
                    </button>
                </a>

        </div>
    </div>
    <span th:each="categorylevelone : ${categorieslevel1}" th:object="${categorylevelone}">
        <a class="item font-header" th:text="${#locale.language} == 'en' ? *{enName} : *{khName}" th:href="@{/elearning/course/{id}(id=*{encriptId})}"></a>
    </span>
    <a class="item">
        <a  href="?language=km">
            <button type="submit" class="tiny centered ui button btn-km cl-white" th:text="#{km}">
                KH
            </button>
        </a>
        <a  href="?language=en">
            <button type="submit" class="tiny centered ui button btn-en login cl-white" th:text="#{en}">
                EN
            </button>
        </a>

    </a>
</div>