<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<!-- Header -->
<head>
    <title>Khmer Academy</title>
    <link rel="stylesheet" href="../css/navigation.css">
</head>
<!-- Body Content -->
<body data-gr-c-s-loaded="true" class="pushable">
<!-- Content -->
<div class="pusher" layout:fragment="content">
    <!-- Responsive Menu -->
    <div th:replace="fragments/responsive-menu :: responsive-menu"></div>
    <!-- code here ! -->
    <div class="ui vertical stripe segment" style="padding: 7em 0em;">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="col-md-4">
                    <div class="nav-side-menu">
                        <div class="brand" style="border-bottom: 1px solid #00000063">
                            <i class="folder icon" style="color: white; margin-left: 33px;"></i>
                            <span class="nav-margin-header" style="color: #4e9c50;">Choose video category</span>

                        </div>
                        <i class="bars large icon toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
                        <div class="menu-list">
                            <ul id="menu-content" class="menu-content collapse out">
                                <!--Left menus, categories level 2-->
                                <span th:each="categorylevel2, iStat: ${categorieslevel2}" th:class="${#lists.size(categorieslevel3[__${iStat.index}__])} == 0 ? 'cate':''">
                                        <li data-toggle="collapse"  th:object="${categorylevel2}" th:id="*{id}"
                                            th:class="${#lists.size(categorieslevel3[__${iStat.index}__])} == 0 ? 'cate-4-color':'collapsed active'">
                                            <!--th:attr="data-target='#'+*{id}"-->
                                            <a th:id="*{id}" >
                                                <span class="nav-margin" th:text="${#locale.language} == 'en' ? *{enName} : *{khName}"></span>
                                                <i th:class="${#lists.size(categorieslevel3[__${iStat.index}__])} == 0 ? '':'angle down icon nav-down-icon'"></i>
                                            </a>
                                        </li>
                                        <ul class="sub-menu collapse" th:object="${categorylevel2}" style="display: block;"><!--  th:id="*{id}"-->
                                            <span th:with="categorylevel3 = ${categorieslevel3[__${iStat.index}__]}" class="cate">
                                                <li  th:each="cate3 : ${categorylevel3}" th:object="${cate3}" th:id="*{id}">
                                                    <span class="nav-margin"></span>
                                                    <i class="play circle icon" style="color: #4e9c50" th:id="*{id}"></i>
                                                    <a th:text="${#locale.language} == 'en' ? *{enName} : *{khName}" th:id="*{id}"></a>
                                                </li>

                                            </span>
                                        </ul>
                                    </span>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <!-- tab ការសរសេរកម្មវិធីទូរស័ព្ទ -->
                    <div class="row"  id="video">
                        <!--All Playlist -->
                    </div>
                    <center>
                        <div style="margin: auto !important;" id="pagination">
                            <!--All Pagination here-->
                        </div>
                    </center>

                </div>
            </div>
            <script th:fragment="_script">

            </script>
            <script>
                var httpurl='http://localhost:8080';
                var totalpages=0;
                var currenpage=1;
                var limit=12;
                var categoryId=0;
                var loadding='<img src="https://secure.cdn1.wdpromedia.com/media/pep/live/media/site/img/style/peploading.gif" style="margin: auto">';
                categoryId=44;

                $(document).ready(function () {
                    //when click on category, left menu
                    $('.cate').on('click','li',function (e) {
                        $("#video").empty();
                        categoryId=e.target.id;
                        $("#video").append(loadding);
                        viewPlaylist(categoryId);
                    });

                    //add background color to pagination when click on each pagination
                    $('#pagination').on('click','a',function (e) {
                        $("a").siblings().removeClass('active');
                        $('html,body').animate({scrollTop:0},800);
                    });

                    //click on pagination
                    $('#pagination').on('click','#firstPage',function () {
                        firstPage();
                        viewPlaylist(categoryId);
                        $('a[value=1]' ).addClass( 'active item tab-c-black' ).attr("disabled","disabled");
                    });

                    //click on previous pagination
                    $('#pagination').on('click','#previousPage',function () {
                        previousePage();
                        // alert(currenpage);
                        viewPlaylist(categoryId);
                        $('a[value='+currenpage+']' ).addClass( 'active item tab-c-black' );
                    });

                    //click on next pagination
                    $('#pagination').on('click','#nextPage',function () {
                        nextPage();
                        // alert(currenpage);
                        viewPlaylist(categoryId);
                        $('a[value='+currenpage+']' ).addClass( 'active item tab-c-black' );
                    });

                    //click on last pagination
                    $('#pagination').on('click','#lastPage',function () {
                        lastPage();
                        viewPlaylist(categoryId);
                        $('a[value='+totalpages+']' ).addClass( 'active item tab-c-black' );
                    });

                    //click on each pagination
                    $('#pagination').on('click','.numberPage',function (e) {
                        numberPage(e.target.id);
                        viewPlaylist(categoryId);
                        $('a[value='+currenpage+']' ).addClass( 'active item tab-c-black' );
                    });
                    function firstPage() {
                        currenpage=1;
                    }
                    function previousePage() {
                        if (currenpage > 1)
                            currenpage =new Number(currenpage) - 1;
                    }
                    function nextPage() {
                        if(currenpage < totalpages)
                            currenpage = new Number(currenpage) + 1;
                    }
                    function lastPage() {
                        currenpage=totalpages;
                    }
                    function numberPage(value) {
                        currenpage=value;
                    }
                });
                //when form already load
                $(window).on('load', function() {
                    $("#video").append(loadding);
                    viewPlaylist(categoryId);
                });
                //arrange playlists and append to body
                function viewPlaylist(categoryId) {
                    $.ajax({
                        url:httpurl+"/api/v1/playlist/"+categoryId+"?page="+currenpage+"&limit="+limit,
                        type:"GET",
                        success: function(data) {
                            var div='';
                            $("#video").empty();
                            if(data.status){
                                data.data.forEach(function (d) {
                                    div+=`
                                            <div class="col-sm-6 col-md-4 col-6 p-b-30 m-lr-auto card-space" style="width: 100%;">
                                                <div class="block1 nav-bg wrap-pic-w fix-bg-black">
                                                    <div class="caption">
                                                        <div class="caption-text">
                                                            <h2>`+d.countvideoplay+`</h2>
                                                        </div>
                                                    </div>
                                                    <img src=`+d.bgimage +`>
                                                    <a href="http://localhost:8080/elearning/video/watch?playlistid=`+d.encryptId+`&youtubeid=`+d.youtubeId+`" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 ">
                                                        <div class="block1-txt-child2 p-b-4 trans-05">
                                                            <div class="block1-link stext cl-white trans-09">
                                                                <h5>Play Now</h5>
                                                            </div>
                                                        </div>
                                                     </a>
                                                </div>
                                                <div class="title p-t-10 stext en-title">`+d.name+`</div>
                                                <div class="ka-title p-t-10 stext">Khmer Academy</div>
                                            </div>
                                        `;
                                });
                                $("#video").append(div);
                                pagination(categoryId);
                            }
                        },
                        error: function(err) {
                        }
                    });
                }

                //create pagination when click on category then append into body
                function pagination(categoryId) {
                    $.ajax({
                        url:httpurl+"/api/v1/countPlaylists/"+categoryId,
                        type:"GET",
                        success: function(data) {
                            // $("#video").empty();
                            if(data.data != null){
                                totalpages=Math.ceil(data.data/limit);
                                if(totalpages>1){
                                    var div ='<div aria-label="Pagination Navigation" role="navigation" class="ui pagination menu">'+
                                        '<a aria-current="false" tabindex="0"  type="firstItem" class="icon item tab-c-black" id="firstPage"  style="line-height: 1 !important;">'+
                                        '&lt;&lt;'+
                                        '</a>'+
                                        '<a aria-current="false" tabindex="0"  type="prevItem" class="icon item tab-c-black" id="previousPage"  style="line-height: 1 !important;">'+
                                        '&lt;'+
                                        '</a>';
                                    for (var i=1; i<=totalpages;i++){
                                        div += '<a aria-current="false" tabindex="0" value="'+i+'" type="pageItem" class="item tab-c-black numberPage" id="'+i+'"  style="line-height: 1 !important;"> ' + i + ' </a>';
                                    }
                                    div +='<a aria-current="false" tabindex="0"  type="nextItem" class="icon item tab-c-black" id="nextPage" style="line-height: 1 !important;"> &gt;</a>'+
                                        '<a aria-current="false" tabindex="0"  type="lastItem" class="icon item tab-c-black" id="lastPage" style="line-height: 1 !important;"> &gt;&gt; </a>'+
                                        '</div>';
                                }
                                $("#pagination").empty();
                                $("#pagination").append(div);
                                $('a[value=1]' ).addClass( 'active item tab-c-black' );
                            }
                        },
                        error: function(err) {

                        }

                    });

                }
            </script>
        </div>
    </div>
</div>
</body>
</html>