<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <title>KA - Player</title>
    <meta name="description" property="og:description"
          content="A simple HTML5 media player with custom controls and WebVTT captions.">
    <meta name="author" content="Sam Potts">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Icons -->
    <link rel="icon" href="https://cdn.plyr.io/static/icons/favicon.ico">
    <link rel="icon" type="image/png" href="https://cdn.plyr.io/static/icons/32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://cdn.plyr.io/static/icons/16x16.png" sizes="16x16">
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.plyr.io/static/icons/180x180.png">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.3.22/plyr.css">
    <!-- Preload -->
    <link rel="preload" as="font" crossorigin type="font/woff2"
          href="https://cdn.plyr.io/static/fonts/gordita-medium.woff2">
    <link rel="preload" as="font" crossorigin type="font/woff2"
          href="https://cdn.plyr.io/static/fonts/gordita-bold.woff2">
    <th:block th:include="fragments/styles :: styles"></th:block>

    <link rel="stylesheet" href="/resources/css/VDOplayer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="/resources/plyr-master/dist/plyr.css"/>-->
    <style>
        .ui.comments .reply.form textarea {
            height: 5em !important;
        }

        .ui.comments .reply.form.commentchild {
            height: 3em !important;
        }

        .ui.labeled.icon.button, .ui.labeled.icon.buttons .button {
            position: relative;
            padding: 10px;
            padding-left: 3.071429em !important;
            padding-right: 1em !important;
        }

        .ui.button {
            font-size: 0.9em !important;
        }

        .fa-star {
            color: #ECECEC;
            cursor: pointer;
        }

        .checked {
            color: #629958;
        }

        .ui.comments .comment .comments {
            margin: 0 0 .5em 2.5em;
        }
        .currentplay{
            background-color: #5c954d;
        }
        .pointer{
            cursor: pointer;
        }
        body ::-webkit-scrollbar-thumb {
            background: rgb(78, 156, 80);
        }
        i.play.circle.icon {
            color: #4e9c50;
        }

    </style>
    <link rel="stylesheet" href="/resources/css/comment.css">
</head>

<body data-gr-c-s-loaded="true" class="pushable" style="background-color:  black;">
<!-- Fixed Menu -->
<div th:replace="fragments/menu :: menu"></div>

<!-- White line -->
<div th:replace="fragments/menu :: white-line"></div>

<!-- Sidebar -->
<div th:replace="fragments/sidebar :: sidebar"></div>

<div class="pusher">

    <!--UserInfomation end Youtubeid-->
    <!--<input id="userid" type="hidden" th:value="${#authentication.principal.name}">-->
    <input id="youtubeId" type="hidden" value="">
    <!--End Youtube-->

    <!-- Responsive Menu -->
    <div th:replace="fragments/responsive-menu :: responsive-menu"></div>

    <!-- Content -->
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row justify-content-around">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row video-containter">
                        <div class="col-12 col-md-12 col-lg-8 tbody" style="padding: 0px;">
                            <!--<video id="player" controls crossorigin>-->
                            <!--</video>-->

                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <div class="row list-video-playlist" ?????????>
                                <div class="col-sm-12 col-md-12 col-lg-12 list-video-item">
                                    <h5 class="video-title" th:text="${listvideoplay[1].getPlaylistname()}">
                                        JAVA
                                    </h5>
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 playlist-container">
                                    <div class="list-video-item" th:each="list : ${listvideoplay}">
                                        <!-- List Videos -->
                                        <a>
                                            <div class="row align-items-center video-item pointer" th:attr=" youtubeid = ${list.getYoutubeid()}">
                                                <div class="col-1 col-sm-1 col-md-1 col-lg-1" id="correntplay">
                                                    <i class="play circle"></i>
                                                </div>
                                                <div class="col-3 col-sm-3 col-md-2 col-lg-4">
                                                    <img class="ui image" th:src="@{'https://i.ytimg.com/vi/'+${list.getYoutubeid()}+'/hqdefault.jpg'}">
                                                </div>
                                                <div class=" col-8 col-sm-8 col-md-9 col-lg-7"
                                                     style="margin-left: -20px;">
                                                    <span th:text="${list.getVideoname()}"></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Below Player -->
            <div class="row justify-content-around">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h4 class="title-video">
                        <!--video title-->
                    </h4>
                    <hr/>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-8 text-left">
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-sm-12 col-md-4">
                            <a href="/" class="ka-logo-playlist">
                                <img class="ui mini circular image" src="/img/LOGO-KA-02.png " alt="KA-logo"
                                     style="display: inline-block;">
                                <span style="margin-left: 10px;">Khmer Academy</span>
                            </a>

                        </div>

                        <div class="col-sm-12 col-md-8 text-right social-info"
                             th:attr="facebookid=${#authentication.principal.getName()}">
                            <i class="calendar icon"></i>
                            <span id="postdate"></span> &nbsp;
                            <i class="eye icon"></i>
                            <span id="view">View</span> &nbsp;
                            <i class="thumbs up icon" id="1" style="cursor:pointer;"></i>
                            <!--Like-->
                            <input id="liketype" type="hidden" value="">
                            <!--<input id="userid" type="hidden" th:value="">-->
                            <span id="like">Like</span> &nbsp;
                            <i class="bookmark icon" onclick="checkBookmark()" id="bookmark"></i>
                            bookmark
                            <i id="share"></i>
                        </div>
                        <input type="hidden" th:value="${#authentication.Principal.getSc_fb_id()}" id="facebookid"
                               name="facebookid">
                        <input type="hidden" th:value="${#authentication.Principal.getUserid()}" id="userid"
                               name="userid">
                    </div>
                </div>

                <div class="col-md-4">

                </div>
                <div class="col-md-12" style="margin-top: 25px;">
                    <!--Comment-->
                    <div class="ui comments" id="com">
                        <h4 class="ui dividing header">Comments</h4>
                        <form class="ui reply form">
                            <div class="field">
                                <textarea style="resize: none" id="txttextarea"></textarea>
                            </div>
                            <div class="ui blue labeled submit icon button btncomment">
                                <i class="icon edit btncomment"></i> Comment
                            </div>
                        </form>
                        <div id="grandmother" style="margin-top: 20px;">
                            <div class="comment parents" th:each="comment:${comments}" th:object="${comment}">
                                <a class="avatar">
                                    <img th:src="*{userImageUrl}">
                                </a>
                                <div class="content">
                                    <a class="author" th:text="*{userName}">Elliot Fu</a>
                                    <div class="metadata">
                                       <span class="date"
                                             th:text="${#dates.format(comment.getCommentDate(), 'dd-MMM-yyyy')}">Yesterday at 12:30AM</span>
                                    </div>
                                    <div class="text">
                                        <p th:text="*{commentText}">This has been very useful for my research. Thanks as
                                            well!</p>
                                    </div>
                                    <div class="actions">
                                        <a class="reply" th:id="'re'+*{commentId}" onclick="replyClick(this.id)">Reply
                                            <input type="hidden" value="0" class="rep">
                                        </a>

                                        <a class="reply " th:id="'up'+*{commentId}">Edit
                                            <input type="hidden" value="0" class="upd">
                                        </a>

                                        <a class="reply " th:id="'de'+*{commentId}">Delete
                                            <input type="hidden" value="0" class="del">
                                        </a>

                                    </div>
                                </div>
                                <div class="comments replyparent">
                                    <div class="comment">
                                        <a th:id="*{commentId}"
                                           th:text="*{totalReply}>1 ? 'View __*{totalReply}__ replies':''"
                                           style="cursor: pointer" class="view"></a>
                                        <a th:id="*{commentId}"
                                           th:text="*{totalReply}==1 ? 'View __*{totalReply}__ reply':''"
                                           style="cursor: pointer" class="view"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    var httpurl = 'http://localhost:8080';
                    var commentId = '';
                    var videoId = 20;
                    var userId = 66475;
                    var username = "sida Hoil";
                    var userimage = "/resources/img/avatar.png";
                    var datepost = 'just now';
                    $(document).ready(function () {
                        //when click on comment button
                        $('.btncomment').click(function () {
                            var commentText = $('#txttextarea').val();
                            if (commentText.localeCompare('') != 0) {
                                var data = {
                                    'commentDate': new Date(),
                                    'commentText': commentText,
                                    'videoId': videoId,
                                    'userId': userId,
                                    'replycomId': 0,
                                    'playlistId': 0
                                };
                                $.ajax({
                                    contentType: "application/json;charset=UTF-8",
                                    url: httpurl + "/api/v1/comments/save",
                                    type: "POST",
                                    data: JSON.stringify(data),
                                    dataType: 'json',
                                    success: function () {
                                        comment("/resources/img/avatar.png", "Sida Hoil", "Just now", commentText, '000');
                                        $('#txttextarea').val('');
                                    }
                                });

                            }
                        });

                        //click on view 1 reply
                        $('.replyparent').on('click', 'a', function () {
                            // var loading='<img src="https://secure.cdn1.wdpromedia.com/media/pep/live/media/site/img/style/peploading.gif"';
                            var originalId = this.id;
                            $.ajax({
                                url: httpurl + "/api/v1/comments/reply/" + this.id,
                                type: "GET",
                                success: function (data) {
                                    if (data.data != null) {
                                        var div = '';
                                        data.data.forEach(function (d) {
                                            div += `<div class="comment">
                                                           <a class="avatar">
                                                               <img src="` + d.userImageUrl + `"/>
                                                           </a>
                                                           <div class="content">
                                                               <a class="author">` + d.userName + `</a>
                                                               <div class="metadata">
                                                                   <span class="date">` + getFormattedDate(d.commentDate) + `</span>
                                                               </div>
                                                               <div class="text">` + d.commentText + ` </div>
                                                               <div class="actions">
                                                                   <a class="reply btnUpdate" id="upc">Edit</a>
                                                                   <a class="reply btnDelete" id="dec">Delete</a>
                                                               </div>
                                                           </div>
                                                       </div>`;
                                        });
                                        $('#' + originalId).parent().parent().append(div);
                                        $('#' + originalId).parent().find('a').empty();

                                    }
                                }
                            });

                        });

                    });

                    //user to format timespamp to normal date and general time zone
                    function getFormattedDate(timestamp) {
                        var date = new Date(timestamp);

                        var month = date.getMonth() + 1;
                        var day = date.getDate();
                        var hour = date.getHours();
                        var min = date.getMinutes();
                        var sec = date.getSeconds();

                        month = (month < 10 ? "0" : "") + month;
                        day = (day < 10 ? "0" : "") + day;
                        hour = (hour < 10 ? "0" + hour : hour > 12 ? "0" + (hour - 12) : hour);
                        min = (min < 10 ? "0" : "") + min;
                        sec = (sec < 10 ? "0" : "") + sec;
                        var str = day + "-" + month + "-" + date.getFullYear();
                        // var str = day + "-" + month + "-" + date.getFullYear() + " " +  hour + ":" + min + ":" + sec;
                        return str;
                    }

                    //provide comment input
                    function comment(userProfileImage, userCommentName, time, commentText, commentId) {
                        var div = '<div class="comment parents">' +
                            '<a class="avatar">' +
                            '<img src="' + userProfileImage + '">' +
                            '</a>' +
                            '<div class="content">' +
                            '<a class="author">' + userCommentName + '</a>' +
                            '<div class="metadata">' +
                            '<span class="date">' + time + '</span>' +
                            '</div>' +
                            '<div class="text">' +
                            '<p>' + commentText + '</p>' +
                            '</div>' +
                            '<div class="actions">' +
                            '<a class="reply" id="re' + commentId + '" onclick="replyClick(this.id)">Reply' +
                            '<input type="hidden"  value="0" class="rep">' +
                            '</a>' +
                            '<a class="reply" id="up' + commentId + '" >Edit</a>' +
                            '<a class="reply" id="de' + commentId + '" >Delete</a>' +
                            '</div>\n' +
                            '</div>\n' +
                            '<div class="comments replychild">' +

                            '</div>' +
                            '</div>';
                        $('#grandmother').prepend(div);
                    }

                    //when click on reply
                    function replyClick(id) {
                        var tt = $('#' + id).find('input').val();
                        commentId = id.substring(2, id.length);
                        if (tt == 0) {
                            $('#' + id).parents('div.content').last().append(replyText());
                            $('#' + id).find('input').val('1');
                        }
                    }

                    //when click on green reply button to append reply into reply container
                    function reply(id) {
                        var textreply = $('#' + id).parents('div.content').find('input.replytchild').val();
                        if (textreply.localeCompare('') != 0) {
                            var replycomId = commentId;
                            if (textreply.localeCompare('') != 0) {
                                var data = {
                                    'commentDate': new Date(),
                                    'commentText': textreply,
                                    'videoId': videoId,
                                    'userId': userId,
                                    'replycomId': replycomId,
                                    'playlistId': 0
                                };
                                $.ajax({
                                    contentType: "application/json;charset=UTF-8",
                                    url: httpurl + "/api/v1/comments/save",
                                    type: "POST",
                                    data: JSON.stringify(data),
                                    dataType: 'json',
                                    success: function () {
                                        var div = '<div class="comment">' +
                                            '<a class="avatar">' +
                                            '<img src="' + userimage + '">' +
                                            '</a>' +
                                            '<div class="content">' +
                                            '<a class="author">' + username + '</a>' +
                                            '<div class="metadata">' +
                                            '<span class="date">' + datepost + '</span>' +
                                            '</div>' +
                                            '<div class="text">' + textreply + ' </div>' +
                                            '<div class="actions">' +
                                            '<a class="reply btnUpdate" id="upc">Edit</a>' +
                                            '<a class="reply btnDelete" id="dec">Delete</a>' +
                                            '</div>' +
                                            '</div>' +
                                            '</div>';
                                        $('#' + id).parents('div.replyText').parent().append(div);
                                        $('#' + id).parents('div.content').find('input').val('0');
                                        $('#' + id).parents('div.replyText').remove();
                                    },
                                    error: function () {

                                    }
                                });
                            }
                        }
                    }

                    //call when click on reply to provide reply input
                    function replyText() {
                        var div = '<div class="comment replyText">' +
                            '<a class="avatar">' +
                            '<img src="' + userimage + '">' +
                            '</a>' +
                            '<div class="content">' +
                            '<a class="author">' + username + '</a>' +
                            '<div class="text">' +
                            '<form class="ui reply form">' +
                            '<div class="field">' +
                            '<input type="text" style="resize: none" class="replytchild" autofocus value=""/>' +
                            '</div>' +
                            '</form>' +
                            '</div>' +
                            '<div class="ui blue labeled submit icon button" id="0" onclick="reply(this.id)">' +
                            '<input type="hidden" value="0">' +
                            '<i class="icon edit btncomment"></i> Reply' +
                            '</div>' +
                            '</div>';
                        return div;
                    }
                </script>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>


<!-- Polyfills -->
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=es6,Array.prototype.includes,CustomEvent,Object.entries,Object.values,URL"
        crossorigin="anonymous"></script>

<!-- Plyr core script -->
<script src="/resources/plyr-master/dist/plyr.js" crossorigin="anonymous"></script>

<!-- Sharing libary (https://shr.one) -->
<script src="https://cdn.shr.one/1.0.1/shr.js" crossorigin="anonymous"></script>

<!-- Rangetouch to fix <input type="range"> on touch devices (see https://rangetouch.com) -->
<script src="https://cdn.rangetouch.com/1.0.1/rangetouch.js" async crossorigin="anonymous"></script>

<!-- Docs script -->
<script src="/resources/plyr-master/demo/dist/demo.js" crossorigin="anonymous"></script>

<!--Script for video plugin-->
<script>
    var httpurl = 'http://localhost:8080';
    var apiurl = '/api/v1/videobookmark/';
    var videoid = 0;
    var totallike = 0;
    var url_string = window.location.href;
    var url = new URL(url_string);
    var youtubeid = url.searchParams.get("youtubeid");
    var playlistid=url.searchParams.get("playlistid");
    $('.playlist-container').on('click','div.list-video-item',function () {
        $(this).siblings().find('i').removeClass('icon');
        $(this).find('i').addClass('play circle icon');
    });
    $('.video-item').on('click',function () {
        var youtube=$(this).attr('youtubeid');
        window.history.replaceState("Khmer Academy",'Video Play','watch?playlistid='+playlistid+'&youtubeid='+youtube);
        loadplayer();
    });
    $('.playlist-container ').find('div:first').find('i').addClass('play circle icon');
    $(document).ready(function () {
        loadplayer();
        loadvideocontent();
        checklikeUserDefault();
        addLike();

        //Switch Languages for playlist page
        $(".lang-km-click").click(function () {
            var url = '/elearning/video/watch?playlistid='+playlistid+'&youtubeid='+youtubeid+'&language=km';
            window.history.pushState("object or string", "Title", url);
            location.reload();
        })
        $(".lang-en-click").click(function () {
            var url = '/elearning/video/watch?playlistid='+playlistid+'&youtubeid='+youtubeid+'&language=en';
            window.history.pushState("object or string", "Title", url);
            location.reload();
        })
    });
    function loadplayer() {
        $.ajax({
            url: "/elearning/watch",
            type: "GET",
            success: function (data) {
                $(".tbody").empty();
                $(".tbody").append(data)
                loadvideocontent();
            },
            error: function (err) {
            }
        });
    }

    function loadvideocontent() {
        $.ajax({
            url: "http://localhost:8080/api/v1/video/" + youtubeid,
            type: "GET",
            success: function (result) {
                $('.title-video').empty();
                $('#postdate').empty();
                $('#view').empty();
                $('#like').empty();
                var date = new Date(result.data.postdate);
                var year = date.getFullYear();
                var mont = date.getMonth();
                var day = date.getDay();
                var formattedTime = day + '/' + mont + '/' + year;
                $('.title-video').append(result.data.videoname);
                $('#postdate').append(formattedTime);
                $('#view').append(result.data.viewcount);
                $('#like').append(result.data.countLikes);
                totallike = result.data.countLikes;
                videoid = result.data.id;
                firstCheckBookmark();
                checklikeUserDefault();
                insertHistory();
            },
            error: function (err) {
                console.log(' error' + youtubeid);
            }
        });
        setInterval(1000);
    }

    function bookmark() {
        var userId=document.getElementById("userid").value;
        var fullapi=httpurl+apiurl+"insert/"+userId+"/"+videoid;
        $.ajax({
            url: fullapi,
            type: "POST",
            success: function (data) {
                $("#bookmark").css("color", "#4e9c50");
                if (data.data == true) {
                    console.log("check:true")
                } else {
                    console.log("check:false")
                }
            },
            error: function (err) {
                console.log("error:" + err)
            }
        });
    }

    function checkBookmark() {
        var userid = document.getElementById("userid").value;
        var fullapi = httpurl + apiurl + "check/" + userid + "/" + videoid;
        $.ajax({
            url: fullapi,
            type: 'GET',
            success: function (data) {
                if (data.data == null) {
                    bookmark();
                } else if (data.data == true) {
                    updateBookmark(false);
                    $("#bookmark").css("color", "#666");
                }
                else if (data.data == false) {
                    updateBookmark(true);
                    $("#bookmark").css("color", "#4e9c50");
                }
            },
            error: function (err) {
                console.log("error" + err)
            }
        });
    }

    function updateBookmark(status) {
        var urlWebService = httpurl + apiurl + "update/" + videoid + "/" + status;
        var typeAjax = 'PUT';
        bookmarkData = {
            "STATUS": status
        };
        $.ajax({
            url: urlWebService,
            type: typeAjax,
            data: JSON.stringify(bookmarkData),
            success: function (data) {
                console.log("Update Successful");
            },
            error: function (err) {
                console.log("Update failed");
            }
        });
    }


    //start Like
    function checklikeUserDefault() {
        var uid = document.getElementById("userid").value;
        console.log("User Like: " + uid)
        console.log("Like VDO: " + videoid)
        $.ajax({
            url: 'http://localhost:8080/api/v1/user/video/votetype/' + uid + '/' + videoid,
            type: 'GET',
            success: function (data) {
                if (data.status) {
                    var status = data.status;
                    if (data.data.voteType == 1) {
                        $('.thumbs').css("color", "#539d57");
                        document.getElementById('liketype').value = data.data.voteType;
                    }
                    else if (data.data.voteType == 0 || data.data.voteType == -1) {
                        $('.thumbs').css("color", "black");
                        document.getElementById('liketype').value = data.data.voteType;
                    }
                } else {
                    $('.thumbs').css("color", "black");
                    document.getElementById('liketype').value = 2;
                }
            }, error: function () {
                console.log("Errorr Very Nas")
                $('.thumbs').css("color", "black");
                document.getElementById("liketype").value = 2;
            }
        });

    }

    function addLike() {
        $('.thumbs').click(function () {
            var uid = document.getElementById("userid").value;
            window.alert("Click Now...VDO ID: "+videoid+"USER: "+uid);
            var status = $("#liketype").val()
            if (status == 1) {
                window.alert("Status=1");
                $(this).css("color", "black");
                document.getElementById("liketype").value = 0;
                totallike--;
                document.getElementById("like").innerText = totallike;
                updateVote(uid, videoid, 0);
            } else if (status == 0 || status == -1) {
                window.alert("Status=0 || status=-1");
                $(this).css("color", "#539d57");
                document.getElementById("liketype").value = 1;
                totallike++;
                document.getElementById("like").innerText = totallike;
                updateVote(uid, videoid, 1);

            }
            else if (status == 2) {
                window.alert("Status=empty");
                $(this).css("color", "#539d57");
                document.getElementById("liketype").value = 1;
                totallike++;
                document.getElementById("like").innerText = totallike;
                console.log("VIDEO ID: " + videoid)
                insertLikeTable(videoid);

            }
        });
    }

    function updateVote(uid, videoid, voteType) {
        $.ajax({
            url: "http://localhost:8080/api/v1/user/votetype/update/" + uid + "/" + voteType + "/" + videoid,
            type: "PUT",
            contentType: "application/json",
            success: function (response) {
                if (response.status) {

                    alert("True Condition...");
                }
                else {
                    alert("False Condition...")
                }
            }, error: function () {
                alert("Error Condition");
            }
        });
    }

    function insertLikeTable(vid) {
        alert("Video: " + videoid);
        var uid = document.getElementById("userid").value;
        var voteType = $("#liketype").val();
        var data = {
            "userId": uid,
            "videoId": vid,
            "voteType": "1"
        }
        $.ajax({
            url: httpurl+"/api/v1/insert/vote",
            type: "POST",
            data: JSON.stringify(data),
            headers: {
                // 'Authorization': "Basic QU1TQVBJQURNSU46QU1TQVBJUEBTU1dPUkQ=",
                'Content-Type': "application/json"
            },
            success: function (response) {
                console.log("Data Insert Like Status: " + response.status)
            }
        });
    }

    //** End Like

    function firstCheckBookmark() {
        var userid = document.getElementById("userid").value;
        var fullapi = httpurl + apiurl + "check/" + userid + "/" + videoid;
        $.ajax({
            url: fullapi,
            type: 'GET',
            success: function (data) {
                if (data.data == true) {
                    $("#bookmark").css("color", "#4e9c50");
                }
                else if (data.data == false) {
                    $("#bookmark").css("color", "#666");
                }
            },
            error: function (err) {
                console.log("error" + err)
            }
        });
    }
    function insertHistory() {
        var userid = document.getElementById("userid").value;
        var fullapi = httpurl + "/api/v1/history/" + "insert/" + userid + "/" + videoid;
        $.ajax({
            url: fullapi,
            type: 'POST',
            success: function (data) {
                console.log(data.status)
            },
            error: function (err) {
                console.log("error" + err)
            }
        });
    }
</script>

<script src="/js/facebook-share.js"></script>

<th:block th:include="fragments/script :: script"></th:block>
</body>
</html>



