<div class="container container-bt" th:fragment="section-two" xmlns:th="http://thymeleaf.org"
     th:each="main:${sectionTwo}">
    <h3 class="ui header font-name"
        th:text="${#locale.language} == 'en' ? *{main.name} : *{main.name_kh}">Computer Science</h3>
    <div class="ui secondary pointing menu tab-each">
        <a th:each="sub, rindex:${main.subCategories}"
           th:attr="data-tab='a-'+${sub.id}"
           th:class="${rindex.count==1}?'item font-content active':'item font-content' "
           th:text="${#locale.language} == 'en' ? ${sub.name} : ${sub.name_kh}"
           data-toggle="tab" th:id="${sub.id}">
            Programming4
            <input type="hidden" id="first-click" value="1">
        </a>

        <a class="ui item right learn-more font-content"
           th:href="@{/elearning/course/{id}(id=${main.encriptId})}" th:text="#{learnmore }">
            Learn More >>
        </a>
    </div>

    <!-- tab ការសរសេរកម្មវិធី -->
    <div th:each="sub, rindex :${main.subCategories}" th:attr="data-tab='a-'+${sub.id}"
         th:class="${rindex.count==1}?'ui bottom attached tab segment active':'ui bottom attached tab segment' ">
        <div class="row">
            <div class="col-sm-6 col-md-3 col-6 p-b-30 m-lr-auto card-space"
                 th:each="playlist:${sub.subCategories}">
                <!-- Block1 -->
                <div class="block1 wrap-pic-w fix-bg-black">
                    <div class="caption">
                        <div class="caption-text">
                            <h2 th:text="${playlist.countvideoplay}">50</h2>
                        </div>
                    </div>
                    <img th:src="${playlist.thumbnail}" alt="IMG-BANNER">


                    <a th:href="@{/elearning/video/watch(playlistid=${playlist.encryptId}, youtubeid=${playlist.youtubeId})}"
                       class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 ">

                        <!-- <h3 class="play-all">Play All</h3> -->
                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext cl-white trans-09">
                                <h5>Play All</h5>
                            </div>
                        </div>

                    </a>
                </div>
                <div class="title p-t-10 stext en-title" th:text="${playlist.name}">JUnit</div>
                <div class="ka-title p-t-10 stext">Khmer Academy</div>
            </div>

        </div>
    </div>


</div>
