a {
    color: black;
}
.hidden.menu {
    display: none;
}

.masthead.segment {
    min-height: 450px !important;
    padding: 1em 0em;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}

.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.menu {
    box-shadow: 0 1px 5px 0 rgba(34,36,38,.15) !important;
}

.ui.vertical.stripe {
    padding: 3em 0em;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}

.ui.vertical.stripe .button+h3,
.ui.vertical.stripe p+h3 {
    margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
    clear: both;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

.quote.stripe.segment {
    padding: 0em;
}

.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}
.container-bt {
    margin-bottom: 2em !important;
}

.ui.mini.image.notification-icon {
    width: 26px !important;
}

.ui.error.message {
    -webkit-box-shadow: 0 0 0 1px #4e9c50 inset, 0 0 0 0 #ff000000;
    box-shadow: 0 0 0 1px #ffffff inset, 0 0 0 0 transparent;
}

.ui.error.message {
    background-color: #4e9c5070;
    color: #101010;
}

.ui.error.message .header {
    color: #212121;
}

@media only screen and (max-width: 991px) {
    .ui.fixed.menu {
        display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu,
    .secondary.pointing.menu .item.search-dropdown {
        display: none;
    }
    .secondary.pointing.menu .toc.item {
        display: block;
    }
    .masthead.segment {
        min-height: 350px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
}

.ui.inverted.segment,
.ui.primary.inverted.segment {
    background: rgb(78, 156, 80);
    color: rgba(255, 255, 255, .9);
    background-image: url("../img/cover02.jpg");
    background-size: cover;
    background-attachment: fixed;

}

.ui.secondary.inverted.pointing.menu {
    border-width: 0px;
    border-color: rgba(34, 36, 38, .15) !important;
    /*font-family: 'Lato', sans-serif !important;*/
}

.brand-logo {
    width: 200px !important;
}

.ui.large.menu {
    /*font-size: 13px;*/
    font-size: 16px;
    background-color: #ffffff;
    height: 68px;
}

.ui.menu .item {
    color: #4e9c50 !important;
    /*font-family: 'Koulen', cursive !important;*/
    line-height: 2.5;
    padding: 10px 10px !important;
}

.ui.menu.sidebar .item {
    line-height: 1.5;
}

.ui.menu .active.item {
    color: #4e9c50 !important;
    /*font-family: 'Lato', sans-serif !important;*/
}

.font-khmer{
    font-family: 'Koulen', cursive !important;
    /*font-size: 13px;*/
}
.font-english{
    font-family: 'Lato', sans-serif !important;
    font-size: 13px;
    margin-top: 4px;
}

.ui.menu a.item:hover {
    color: #4e9c50 !important;
    /*font-family: 'Lato', sans-serif !important;*/
}

.ui.menu a.active.item:hover {
    color: #4e9c50 !important;
    /*font-family: 'Lato', sans-serif !important;*/
}

.masthead .ui.menu .ui.button {
    margin-left: 0px !important;
}

.ui.selection.dropdown {
    min-width: 150px;
}

.masthead h1.ui.header {
    margin-top: 1em !important;
    margin-bottom: 4em !important;
    font-size: 35px;
    font-weight: bold !important;
    /*font-family: 'Lato', sans-serif !important;*/
}

.masthead h2 {
    font-size: 22px;
    text-shadow: 2px 2px 2px black;
}

.ui.input {
    font-size: 10px !important;
}

.ui.menu .item>.input {
    width: 86%;
}

.ui.icon.input>input {
    width: 70px !important;
    margin-top: 9px;
    transition: 0.5s;
}

.ui.icon.input>input {
    padding-right: 1.671429em!important;
}

.ui.icon.input>input:focus {
    width: 120px !important;
    position: relative !important;
}

.right.item.search-margin {
    margin-left: 10px !important;
}

#search-res,.right.item .search.icon {
    display: none;
}

.ui.image.item {
    padding: 0px !important;
    margin-top: -7px !important;
}

@media only screen and (max-width: 1199.98px) {
    .ui.container {
        width: 100%;
    }
    .ui.image.item {
        padding: 0px !important;
        margin-top: -5px !important;
    }
    .txt {
        display: none !important;
        padding: 0px;
    }
    .right.item.right-fixed-menu-item {
        padding-left: 1px;
        padding-right: 1px;
        margin: -5px;
    }
    .ui.icon.input>input {
        margin-top: 9px;
    }
    .ui.icon.input>input:focus {
        width: 100px !important;
        transition: 0.5s !important;
        position: relative !important;
    }
    .ui.menu .item {
        color: rgba(255, 255, 255, .7);
        /*font-family: 'Lato', sans-serif !important;*/
        line-height: 3.5;
        padding: 10px 6px !important;
    }
    .fixed-menu-padding {
        padding-top: 8px !important;
    }
}

#res-fixed-menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

@media only screen and (max-width: 992px) {
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu,
    .secondary.pointing.menu .right.item.data{
        display: none;
    }
    .ui.inverted.menu .item.search-margin {
        margin-left: -120px !important;
    }
    .ui.input {
        font-size: 13px !important;
    }
    .ui.icon.input>input {
        width: 700px !important;
        margin-top: 0px;
    }
    .ui.icon.input>input:focus {
        width: 700px !important;
        transition: 0.5s !important;
        position: relative !important;
    }
    .logo-ka {
        margin-top: 5px !important;
    }
    .right-fixed-menu-item {
        display: none !important;
    }
    .app-info{
        margin-top: 20px !important;
    }
    #search {
        display: none;
    }
    #search-res,.right.item .search.icon {
        display: inline;
    }
}

@media only screen and (max-width: 768px) {
    .ui.inverted.menu .item.search-margin {
        margin-left: -120px !important;
    }
    .ui.icon.input>input {
        width: 600px !important;
        margin-top: 9px !important;
    }
    .ui.icon.input>input:focus {
        width: 600px !important;
        transition: 0.5s !important;
        position: relative !important;
    }
    .masthead h1.ui.header {
        margin-top: 1em !important;
        margin-bottom: 0em;
        font-size: 2em;
        font-weight: bold !important;
        /*font-family: 'Lato', sans-serif !important;*/
        text-shadow: 5px 4px 5px black;
    }
    .masthead h2 {
        font-size: 1em;
        text-shadow: black 2px 2px 2px;
    }
    .app-info{
        margin-top: 20px !important;
    }
}
@media only screen and (max-width: 600px) {
    .ui.vertical.stripe h3 {
        font-size: 20px;
    }
}
@media screen and (max-width: 700px) {
    .ui.statistics{
        display:none !important;
    }
    .ui.icon.input>input {
        width: 270px !important;
        margin-top: 10px !important;
    }
    .ui.icon.input>input:focus {
        width: 270px !important;
        transition: 0.5s !important;
        position: relative !important;
    }
}

.menu {
    margin: auto !important;
}

.ui.inverted.menu {
    background: #ffffff;
    font-size: 16px;
}
.ui.menu .item:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 0px;
    background: rgba(34, 36, 38, .1);
}

.ui.dropdown>.text>img {
    vertical-align: middle !important;
}

.ui.dropdown .menu {
    z-index: 100 !important;
}

.show-search {
    margin-left: 50% !important;
    margin-top: -8px !important;
    color: black;
}

.show-search:hover {
    margin-left: 50% !important;
    margin-top: -8px !important;
    color: white;
}

.fixed-menu-white-line {
    background-color: white;
    width: 100%;
    height: 10px;
    margin-top: 65px;
    box-shadow: 1px -6px 18px black;
}

.bggreen {
    background-color: rgb(78, 156, 80);
}

.ui.secondary.pointing.menu .item {
    align-self: flex-start;
    /*font-size: 15px !important;*/
    font-size: 16px !important;
}
.ui.header:first-child {
    margin-top: -0.142857em !important;
    margin-bottom: 0em !important;
}

.ui.segment[class*="bottom attached"] {
    margin-bottom: 4rem;
}

.btn-move-up{
    width: 100px !important;
    position: fixed;
    right: -22px !important;
    bottom: 62px !important;
    z-index: 20;
    font-size: 34px !important;
    color: rgb(78, 156, 80);
}
.ui.segment[class*="bottom attached"] {
    margin-top: 0px !important;
}

.fixed-menu-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 18px;
    padding-bottom: 0px !important;
}

.menu a .item {
    margin: -6px 0px!important;
}
.onesignal-bell-launcher-button{
    width: 35px !important;
    height: 35px !important;
}

h3.ui.header.font-name {
    margin-bottom: 25px !important;
    font-family: "Koulen","Lato" !important
}

.font-header {
    font-family: "Koulen","Lato" !important
}

.font-content {
    font-family: "Content","Lato" !important
}

h4.ui.inverted.header {
    font-family: "Content","Lato" !important;
}

.ui.inverted.link.list a {
    font-family: "Content","Lato" !important;
}
.ui.segment:last-child {
    margin-bottom: 0px;
    margin-top: 0px;
}

img.ui.small.image.item {
    margin-top: 20px !important;
}

.item.user-name.auth-profile {
    display: block;
    padding-bottom: 0px !important;
    background-color: #4e9c50;
    padding-top: 0px !important;
}

#language-icon {
    margin-left: -10px !important;
}

.lang-switch {
    width: 50px;
}
#km-logo-switch {
    display: block;
    padding: 10px 10px !important;
}
#en-logo-switch {
    display: block;
    padding: 10px 10px !important;
}
.lang-switch-image {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.sidebar-profile {
    margin-top: 10px !important;
    padding-bottom: 10px !important;
}

button a {
    font-size: 16px;
}

.ui.button.login {
    margin-left: 10px;
}
.ui.button.logout {
    margin-left: 10px;
}

.ui.button.btn-km {
    margin-left: 30px;
}

.item.sidebar-container {
    margin-left: 10px;
}

a.item.font-header {
    margin-left: 25px;
}

.margin-auto {
    margin: auto ;
}








