.search-container {
    max-width: 950px;
    margin: auto;
    padding-right: 10px;
}
.search {
    border-radius: 25px;
    border: 2px solid #4e9a4f;
    padding: 5px;
    height: 45px;
    width: 180px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .2s ease;
    float: right;
}
.search:focus {
    width: 225px;
}