
*{
    /*font-family: 'Preahvihear', cursive !important;*/
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Nokora';*/
}
/**{*/
    /*font-family: 'Hanuman', serif;*/
/*}*/
h1,h2,h3,h4,h5 {
    font-family: 'Lato', sans-serif;
}
.container .title{
    text-align: center;
    /* margin-bottom: 2em; */
}
.f-s-34{
    font-size:34px !important;
}
.container-bt{
    margin-bottom: 4em;
}
.km-title{
    font-family: "Content","Lato" !important;
    text-align: left !important;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:black;
}
.en-title{
    font-family: 'Lato', sans-serif !important;
    text-align: left !important;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:black;
}
.ka-title{
    font-size: 11px !important;
    font-family: "Content","Lato" !important;
    color: #777777;
}
.learn-more{
    color: rgb(78, 156, 80) !important;
}
.font-name{
    /*font-family: 'Lato', sans-serif !important;*/
    font-family: 'Open Sans', sans-serif;
    text-align: center !important;
    font-weight: bold;
    margin-bottom: 0em !important;
}
.card-space{
    margin: 0 0 20px 0;
}

.ui.statistics .statistic>.value{
     font-size: 3rem!important;
}
.menu a .item{
    margin: -19px 0px!important;
}








/*Custom Inline style*/

.memu-item li{
    list-style-type: none;
}

.menu-item {
    background-color: white;
    text-align: left;
    width: 55.4%;
    height: 300px;
    position: absolute;
    left: 27%;
    top: 103%;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
}
.menu-item ul li a{
    display: block;
    padding: 10px 0px;
    /*border-bottom: 1px solid darkseagreen;*/
}
.menu-item ul li a:hover {
    /*background-color: beige;*/
    color: green;
}
.menu-item{
    display: none;
}








