
.btn-sign-up,.btn-login {
    color: white !important;
}
/*.ui.forminput:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url]{*/
    /*border-radius: 2.285714rem !important;*/
/*}*/
.field-circle{
    border-radius: 2.285714rem !important;
}
.divider{
    margin:2em 0em !important;
}
.button{
    background: rgb(78, 156, 80) !important;
}
.facebook{
    background-color: #3b5998 !important; 
}
.display-block{
    display: block !important;
}
.ui.secondary.pointing.menu .active.item {
    border-color: rgb(78, 156, 80);
}
.cl-brown {
    color: #7b7b7b !important;
}
.cl-txt-btn {
    color: #dedede !important;
}
.ui.form input[type=text] {
    border: 1px solid rgb(78, 156, 80);
}
.ui.selection.dropdown {
    border: 1px solid #4e9c50;
}
.ui div .item img{
    margin: auto;
}
.ui.image{
    max-width: 90% !important;
}
.ui.button{
<<<<<<< HEAD
    border-radius: 25px !important;
    font-size: 16px !important;
||||||| merged common ancestors
    border-radius: 0.2em !important;
    font-size:1.2em !important;
=======
    border-radius: 2.285714rem !important;
    font-size:1em !important;
    font-weight: normal !important;
>>>>>>> 76acfb66e3d9627f4dc1ce692d5392a008441bd7
}
.container .login-body{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
}
.login-header{
    margin-left: 0% !important;
    margin-right: 4% !important;
    margin-bottom: -13px !important;
    z-index: 40 !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
}
.login-body{
    text-align: center;
}
.field #phone_number{
    font-size: 1.2em;
}
.ui.header:first-child {
    margin-top: 1.3em;
}
.body-style{
    background-image: url('../img/cover02.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.login-up {
    height: 600px;
    width: 600px;
    /* background: linear-gradient(40deg, #45cafc, #303f9f) !important; */
    background: linear-gradient(40deg, #4c954d, #50a253) !important;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    position: absolute;
    left: -258px;
    top: -136px;
    border-radius: 50% 50% 50% 50%;
}

.login-down {
    top: 60px;
    height: 450px;
    width: 690px;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    margin: auto;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.wh-100 {
    width: 100%;
    height: 100%;
}

.font-lato {
    font-family: Lato, sans-serif !important;
    letter-spacing: 0;
    font-size: 1.125rem;
    line-height: 2rem !important;
}

.mt-300 {
    margin-top: 300px !important;
    margin-left: 300px;
}

.cl-wh {
    color: #ffffff;
}
.cl-gray {
    color: #312b38;
}
.m-login {
    margin-top: 88px !important;
    margin-left: 400px;
}
.w-100{
    width: 80px !important;
}
.align-center{
    text-align: center;
}
.mt-50{
    margin-top:50px;
}
.field #phone_number {
    font-size: 1em !important;
}
.mtb-field-login{
    margin: 13px 0px;
}
.mr-10{
    margin-right: 10px;
}
.w-160{
    width: 160px;
}

@media only screen and (max-width: 740px) {
    .login-up {
        display: none;
    }
    .login-down {
        top: 60px;
        height: 450px;
        width: 360px;
        background-color: #ffffff;
        position: relative;
        overflow: hidden;
        margin: auto;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    }
}
