.nav-side-menu {
    overflow: auto;
    /* font-family: 'Lato', sans-serif !important; */
    font-size: 16px;
    font-weight: 200;
    background-color: #4e9c50;
    position: relative;
    top: 0px;
    width: 100%;
    height: auto;
    color: #000000d9 !important;
    box-shadow: 0px 0px 12px -2px rgb(97, 97, 97)
}

.nav-side-menu .brand {
    background-color: #ffffff;
    line-height: 50px;
    display: block;
    text-align: left;
    font-size: 16px;
}

.nav-side-menu .toggle-btn {
    display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
    /*
.collapsed{
.arrow:before{
         font-family: FontAwesome;
         content: "\f053";
         display: inline-block;
         padding-left:10px;
         padding-right: 10px;
         vertical-align: middle;
         float:right;
    }
}
*/
}
.tab-c-black{
    color:black !important;
    text-align: center !important;
}



.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}

.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 3px solid #4e9c50;
    background-color: #ececec;
}

.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #4e9c50;
}

.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #4e9c50;
}

.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: whitesmoke;
    border: none;
    line-height: 35px;
    border-bottom: 1px solid #a7a7a763;
    margin-left: 0px;
}

.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    color: black;
}

/* .nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
} */

.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #4e9c50;
    border-bottom: 1px solid #4e9c50;
}

.nav-side-menu li a {
    text-decoration: none;
    color: #ffffff;
}

.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}

/* .nav-side-menu li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
} */

@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10 !important;
        padding: 3px;
        /* background-color: #ffffff; */
        color: #4e9c50;
        width: 40px;
        text-align: center;
    }
    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}

body {
    margin: 0px;
    padding: 0px;
}

.nav-down-icon {
    float: right;
}

.nav-margin {
    margin-left: 30px;
    color:#4e9c50;
}

.nav-margin-header {
    margin-left: 15px;
}
.cate-4-color {

    background-color: whitesmoke !important;
}
.cate-4-color span {
    color: #000000d9 !important;
}
