body {
    /*font-family: 'Lato', sans-serif !important;*/
    font-size: 16px;
}

.vjs-control-content {
    display: none;
}

.vjs-default-skin .vjs-big-play-button {
    left: 11.5em;
    top: 6.5em;
}

.list-video-item .vjs-default-skin .vjs-big-play-button {
    display: none;
}

.ui.vertical.stripe {
    padding: 7em 0em;
}

.playlist-video {
    background-color: grey;
    width: 100%;
    height: 360px;
}

.list-video-item {
    margin-top: 12px !important;
    color: black;
}

.list-video-item a {
    text-decoration: none !important;
}

.video-item {
    margin-bottom: 10px;
}

.video-title {
    margin-bottom: 12px !important;
    font-weight: bold;
    color: black;
}

.list-video-playlist {
    background-color: #eeeeee;
    padding: 15px;
    height: 434px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.ui.comments .comment .avatar img,
.ui.comments .comment img.avatar {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    border-radius: .25rem;
}

.playlist-container {
    max-height: 388px;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 0px;
    width: 100%;
    background-color: #f5f5f5;
}

.video-js {
    width: 100% !important;
    height: 500px !important;
}
.row.list-video-playlist {
    font-size: 16px;
    padding: 0px;
}

@media only screen and (max-width: 1200px) {
    .row.list-video-playlist {
        font-size: 12px;
    }
    .video-js {
        height: 350px !important;
        width: 100% !important;
    }
    .vjs-default-skin .vjs-big-play-button {
        left: 8.5em;
        top: 4.5em;
    }
    .list-video-playlist {
        background-color: whitesmoke;
        padding: 15px;
        height: 350px;
    }
    .playlist-container {
        max-height: 280px;
        overflow: scroll;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

@media only screen and (max-width: 992px) {
    .vjs-default-skin .vjs-big-play-button {
        left: 10.5em;
        top: 4.5em;
    }
    .row.list-video-playlist {
        font-size: 15px;
    }
    .list-video-playlist {
        background-color: whitesmoke;
        padding: 15px;
        height: 250px;
    }
    .playlist-container {
        max-height: 190px;
        overflow: scroll;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .social-info {
        font-size: 13px !important;
    }
}

@media (max-width: 768px) {
    .vjs-default-skin .vjs-big-play-button {
        left: 10.5em;
        top: 4.5em;
    }
    .row.list-video-playlist {
        font-size: 17px;
    }
    .list-video-playlist {
        background-color: whitesmoke;
        padding: 15px;
        height: 250px;
    }
    .playlist-container {
        max-height: 190px;
        overflow: scroll;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .social-info {
        font-size: 13px !important;
    }
    .title-video {
        margin-top: 20px !important;
    }
}
@media only screen and (max-width : 740px) {
    .vjs-default-skin .vjs-big-play-button {
        left: 37%;
        top: 4.5em;
    }

}

/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 576px) {
    .vjs-default-skin .vjs-big-play-button {
        left: 37%;
        top: 3.5em;
    }
    .list-video-playlist {
        background-color: whitesmoke;
        padding: 15px;
        height: 250px;
    }
    .playlist-container {
        max-height: 190px;
        overflow: scroll;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .social-info {
        font-size: 13px !important;
    }
    .video-js {
        height: 300px !important;
        width: 100% !important;
    }
    .row.list-video-playlist {
        font-size: 12px;
    }
    .social-info {
        text-align: center !important;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 400px) {
    .vjs-default-skin .vjs-big-play-button {
        left: 25%;
        top: 2.5em;
    }
    .video-js {
        height: 250px !important;
        width: 100% !important;
    }
}

@media only screen and (max-width: 335px) {
    .vjs-default-skin .vjs-big-play-button {
        left: 25%;
        top: 2.5em;
    }
}